.header {
    flex: 20%;
    display: flex;
    justify-content: center;
}
  
.content {
    flex: 80%;
    padding: 0 3em 15em 3em;
}

.vertical-line {
    border-left: 6px solid #1e1e1e;
    /* height: 250px; */
    top: 0;
    margin-bottom: 2em;
    padding: 6em 8em 4em;
}

.textbox {
    padding-right: 20%;
}

.imgs {
    display: inline-grid;
    columns: 3;
    column-gap: 10px;
    grid-template-columns: fit-content(33%) fit-content(33%) 1fr;
}

.cover-img {
    object-fit: contain;
    width: calc(calc((100vw*.8) - 6em - 20px)/3);
}